
h1 {
    font-family: garamond, helvetica, sans-serif;
    color: #7825A0;
    text-align: center;
    font-size: 85px;
}
h2 {
    font-family: garamond, helvetica, sans-serif;
    color: #7825A0;
    font-size: 35px;
}
h3 {
    font-family: garamond, helvetica, sans-serif;
    color: #7825A0;
    font-size: 35px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: auto;
    background-color: #ddd;
}

main{
    margin: auto;
    max-width: 850px;
    padding-bottom: 5%;
    max-width: 900px;
}

aside {
    position: sticky;
    top: 120px;
    padding-left: 3%;
    padding-right: 3%;
    margin-left: auto;
    max-height: 300px;
    box-shadow: 0 0 20px #000300;
}
footer {
    background-color: black;
    color: white;
    padding: 3%;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-between;
    margin-top: 10%;
}

/* En klasse for og stille tekst til høgre*/
.textRight {
    text-align: right;
}

.grid-container {
    display: grid;
    grid-template-columns: 70% 30%;
    min-width: 200px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    margin-bottom: 10%;
    box-shadow: 0 0 20px #000300;
}

/* En klasse for å fylle begge kolonnene med tittel */
.grid-headding {
    grid-column: 1 / span 2;
}

/* En klasse for å forskyve tekst til siden */
.indent {
    position: relative;
    left: 5%;
}

.flex-container-col {
    display: flex;
    flex-direction: column;
}
.flex-container-row {
    display: flex;
    flex-wrap: wrap;
}

.checkbtn{
    font-size: 30px;
    color: rgb(0, 0, 0);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
label.logo{ /*Logo for siden*/
    color: #000;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

a.active,a:hover{ /*Kode for hovering av kanppene øverst på toppen*/
    background: #bebebe;
    transition: .5s;
}

nav{ /*Kode for boks på toppen av siden.*/
    background: #ddd;
    height: 80px;
    width: 100%;
}
label.logo{ /*Logo for siden*/
    color: #000;
    font-size: 35px;
    line-height: 80px;
    padding: 0 5%;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{ /*Kode for farge for knappene øverst på nettsiden*/
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{ /*Kode for farge til knappene øverst på siden*/
    color: rgb(4, 4, 4);
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

