body{
        background-color: #ddd;
    }

    
H1{
    font-family: "Goudy old style", helvetica, sans-serif;
    font-size: 3em;
    color:#7825A0;
    text-align: center;
}


H2{
    font-family: "Goudy old style", helvetica, sans-serif;
    font-size: 3em;
    color:#7825A0;
    text-align: center;
}


H3{
    font-family: "Goudy old style", helvetica, sans-serif;
    font-size: 3em;
    color:#7825A0;
    text-align: center;
    margin-top: 10px;
}


p{
      border: 2px solid black;
      padding: 30px;
      margin: 50px;
      text-align: justify;
      font-size: 20px;
}

/* en klasse for alle bilder som legger det til venstre  */
    
img {
      float: left;
}

/* egne id som formater bilde */

#bilde1 {
        width: 400px;
        height:300px;
        margin-right:20px;
        margin-left:5px;
        margin-bottom:5px;
}

/* egne id som formater bilde */

#bilde2 {
        width:400px;
        height:300px;
        margin-right:20px;
        margin-left:5px;
        margin-bottom:5px;
}

/* En klasse som plasserer bilde inn i boksen den skal  */

    
.Fiksebilde::after {
      content: "";
      clear: both;
      display: table;
}

/* en egen klasse for å legge en boks rundt uordnet liste */

ul{
    border: 2px solid black;
    padding: 30px;
    margin: 50px;
    text-align: justify;
    font-size:20px;
}

.flex-container-row {
    display: flex;
    flex-wrap: wrap;
}

footer {
    background-color: black;
    color: white;
    padding: 3%;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-between;
    margin-top: 10%;
}

.checkbtn{
    font-size: 30px;
    color: rgb(0, 0, 0);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
label.logo{ /*Logo for siden*/
    color: #000;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

a.active,a:hover{ /*Kode for hovering av kanppene øverst på toppen*/
    background: #bebebe;
    transition: .5s;
}

nav{ /*Kode for boks på toppen av siden.*/
    background: #ddd;
    height: 80px;
    width: 100%;
}
label.logo{ /*Logo for siden*/
    color: #000;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{ /*Kode for farge for knappene øverst på nettsiden*/
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{ /*Kode for farge til knappene øverst på siden*/
    color: rgb(4, 4, 4);
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

